
variables:
  UV_VERSION: "0.9.9"

stages:
  - build

default:
  image: python:3.11-slim
  tags:
    - mint

build:
  stage: build
  before_script:
    - pip3 install uv==${UV_VERSION}
  script:
    - uv sync --frozen
    - echo "Pipeline source = $CI_PIPELINE_SOURCE"
    - uv run robot -v REASON:$CI_PIPELINE_SOURCE tests/simple-case.robot
  artifacts:
    when: always
    paths:
      - report.html