name: Robotframework-tests

on:
  push:
  pull_request:

env:
  UV_VERSION: "0.9.9"
  TEST_ENV: "test"

jobs:
  build:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && github.ref_name == github.event.repository.default_branch) ||
      (github.event_name == 'pull_request' && github.base_ref == github.event.repository.default_branch)
    container:
      image: python:3.11-slim
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Install UV and Sync Dependencies
        run: |
          pip3 install uv==${{ env.UV_VERSION }}
          uv sync 

      - name: Run tests
        run: |
          uv run robot -V environments/${{ env.TEST_ENV }}.yaml -v REASON:FULL_TEST_RUN tests/simple-case.robot
          
      - name: Upload Test Report Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: report.html
